<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="home"><%= image_tag "logo.png", {:style => "width:15%;"}%>&nbsp;Chore Bucks</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="about">About</a>
        </li>
        <% unless current_user %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="login">Login</a>
          </li>
        <% end %>
        <% unless current_user %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="signup">Sign Up</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <% if current_user %>
            <a class="nav-link js-scroll-trigger" href="logout">Logout</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- You're logged in Page -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-white font-weight-bold">Welcome Aboard <%= @user.username %></h1>
        <h3 class="text-white"><%= notice %></h3>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5"><i>To Do: Send Email After sign-up confirmation</i></p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://chorebucksapp.com/login">Login Now</a>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">Copyright &copy; 2020 - Chore Bucks</div>
  </div>
</footer>