<!-- About Page -->
<% provide(:title, "About") %>
<div class="container center" id="about">
  <div>
    <h1>What can Chore Bucks do for you?</h1>
    <hr class="divider light my-4">
  </div>
  <div>
    <p>Chore Bucks is a Home Organization web-application for Families!<br><br>The Adult family member can create Chores for the children to accomplish; assigning the chores each with a Title, Description, Completion Date, Complexity, and Dollar Price.
    <br><br>The Child will then be able to “Add Chore to Cart,” “Complete Chore,” and “Request Payment.” <br><br>The Admin family member will be notified that a Child is requesting payment, after verifying that the chore has been done, the admin can “Approve Payment” to add funds to a Child’s Account.<br><br>Overall, Chore Bucks wants to help Families maintain a Happy, Fun, and Clean Home!</p>
    <p><%= link_to "Sign up Now!", signup_path, :class => "btn btn-primary" %></p>
  </div>
</div>

