<!-- Contact Page -->
<% provide(:title, "Contact") %>
  <div class="container center" id="contact">
    <h1>Meet Our Developers</h1>
    <div>
      <hr class="divider my-4">
      <p>Peek around our Bios or Reach Out!</p>
    </div>
    <div class="row">
      <div>
        <%= link_to "Ryan Hafer", ryan_path %>
      </div>
      <div>
        <%= link_to "Shiva Acharya", shiva_path %>
      </div>
      <div>
        <%= link_to "Holly Robertson", holly_path %>
      </div>
    </div>
  </div>
