<!-- Holly Contact Page -->
<% provide(:title, "Holly") %>
<div class="container center" id="holly">
  <h1>Holly Robertson</h1>
  <hr class="divider my-4">
  <div class="container">
    <div>
        I am a current student at Franklin University. I'm pursuing a Bachelor's Degree in Computer Science with a minor in Web Development.
    </div>
    <br>
    <div>
      I work at Safelite as a Service Desk Analyst and am the Project Lead of this Chore Bucks Project.
    </div>
  </div>
  <div class="row">
    <div>
      (401) 375-2428
    </div>
    <div>
      <a class="d-block" href="callow16@email.franklin.edu">
        callow16@email.franklin.edu
      </a>
    </div>
  </div>
</div>
