<!-- Welcome Page -->
<% provide(:title, "Welcome") %>
<p id="notice"><%= notice %></p>
<div class="container center" id="welcome">
  <div>
    <h1 class="text-white font-weight-bold">Chore Bucks</h1>
    <hr class="divider my-4">
  </div>
  <div>
    <p>Chore Bucks is a Home Organization web-application for Families!</p>
    <a class="btn btn-info btn-xl js-scroll-trigger" href="about">Find Out More</a>
  </div>
</div>


