<!-- Ryan Contact Page -->
<% provide(:title, "Ryan") %>
<div class="container center" id="ryan">
  <h1>Ryan Hafer</h1>
  <hr class="divider my-4">
  <div class="container">
    <div>
      Hi there, I am Ryan Hafer, a student of Computer Science at Franklin
      My goal is to become a professional software developer
    </div>
    <br>
    <div>
      Currently I am employed at Nationwide Children's Hospital as an IS Support Technician.
      Even though I do not get to work directly with patients, it brings me some joy that I
      get to be a small part of improving their outcomes.
    </div>
  </div>
  <div class="row">
    <div>
      (614) 984 - 8627
    </div>
    <div>
      <a class="d-block" href="hafer02@email.franklin.edu">
        hafer02@email.franklin.edu
      </a>
    </div>
  </div>
</div>
