<!-- Shiva Contact Page -->
<% provide(:title, "Holly") %>
<div class="container center" id="shiva">
  <h1>Shiva Acharya</h1>
  <hr class="divider my-4">
  <div class="container">
    <div>
      <!-- Input/Format your Bio information -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.
    </div>
    <br>
    <div>
      <!-- Input/Format your Bio information -->
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="row">
    <div>
      <!-- Input Phone Number (I used Google Voice) or change to another form of Contact (email/Github)
            You can also change the icon by change the <i class="fa fa-ICONNAME">
            Link to more icons: https://fontawesome.com/v4.7.0/icons/ -->
      (555) 555-5555
    </div>
    <div>
      <!-- Make sure to enter your email into the "" in href="" -->
      <a class="d-block" href="">
        <!-- Input your Email Address -->
        test@email.com
      </a>
    </div>
  </div>
</div>
