<!-- Shiva Contact Page -->
<% provide(:title, "Holly") %>
<div class="container center" id="shiva">
  <h1>Shiva Acharya</h1>
  <hr class="divider my-4">
  <div class="container">
    <div>
      My name is Shiva Acharya. I'm currently pursuing Bachelors of Science in Computer Science from Franklin University.
      I hope to finish my courseworks by the end of Summer semester. My hobbies include listening to musics, reading books,
      and playing ping pong with my little sister.
    </div>
    <br>
    <div>
      I work at Cerotid as a Junior Java Developer. I'm one of the developers of this Chore Bucks Project.
    </div>
  </div>
  <div class="row">
    <div>
      (469) 726-8172
    </div>
    <div>
      <a class="d-block" href="achary06@email.franklin.edu">
      </a>
    </div>
  </div>
</div>
