<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="home"><%= image_tag "logo.png", {:style => "width:15%;"}%>&nbsp;Chore Bucks</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="about">About</a>
        </li>
        <% unless current_user %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="login">Login</a>
          </li>
        <% end %>
        <% unless current_user %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="signup">Sign Up</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <% if current_user %>
            <a class="nav-link js-scroll-trigger" href="logout">Logout</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">What can Chore Bucks do for you?</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">Chore Bucks is a Home Organization web-application for Families!<br><br>The Adult family member can create Chores for the children to accomplish; assigning the chores each with a Title, Description, Completion Date, Complexity, and Dollar Price.
          <br><br>The Child will then be able to “Add Chore to Cart,” “Complete Chore,” and “Request Payment.” <br><br>The Admin family member will be notified that a Child is requesting payment, after verifying that the chore has been done, the admin can “Approve Payment” to add funds to a Child’s Account.<br><br>Overall, Chore Bucks wants to help Families maintain a Happy, Fun, and Clean Home!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#signup">Sign Up!</a>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">Copyright &copy; 2020 - Chore Bucks</div>
  </div>
</footer>
