<!-- Footer -->
<footer class="footer">
  <small>
    <%= link_to "Copyright \u00A9 2020 - Chore Bucks", root_path %>
    by <%= link_to "Team", contact_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>