<!DOCTYPE html>
<html>
  <head>
    <title>ChoreBucksApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://chorebucksapp.s3-us-west-2.amazonaws.com/favicon-16x16.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
